# Local Netlify folder
.netlify
node_modules
node_modules
---
title: Hola Mundo
date: 2025-09-05
---

# Hola Mundo 🌱

Esta es mi primera nota en mi jardín digital.  
¡Estoy empezando a construir mi propio jardín de conocimiento!

